.dropdown-menu {
    min-width: 350px;
}

.dropdown-item {
    border-radius: 5px;
    text-align: center;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #212529;
    background-color: #fdfdfd;
}