html,
body {
    height: 90%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin-top: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;

    .inner {
        max-width: 70vw;
    }
}

p.lead {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #495057;
}

#footer {
    margin-top: auto;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

.fa-github {
    font-size: 28px;
}

#navbarDropdown {
    font-size: 20px
}