html,
body {
    height: 90%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;

    .inner {
        max-width: 70vw;
    }
}


p.lead {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #495057;
}

#footer {
    margin-top: auto;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center; /* Центрирование текста */
}