html,
body {
    height: 95%;
}


#wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -30px;
    font-family: Arial, Helvetica, sans-serif;
}


#footer {
    font-family: "Lucida Console", "Courier New", monospace;
}

p { margin:0 }