#main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.row {
    width: 95vw;
}

#graph {
    height: 85vh;
}

#forms {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
}

.modal-dialog {
    max-width: 90%;
    width: auto;
}

.modal-content {
    width: 100%;
    height: auto;
    max-height: 80vh;
}

.modal-body img {
    max-width: 100%; /* Максимальная ширина картинки равна ширине родительского контейнера (modal-body) */
    max-height: 70vh; /* Максимальная высота картинки равна 70% высоты окна просмотра */
    width: auto; /* Автоматическая ширина для сохранения пропорций */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}